.ui-tooltip,
.arrow:after {
  max-width: 1024px !important;
  border-radius: 0.375rem !important;
  border-color: rgb(148 163 184) !important;
  box-shadow: 0 0 #0000 !important;
  background-color: rgb(241 245 249) !important;
}
